{% extends 'base.html.twig' %}

{% block title %}Societe index{% endblock %}

{% block body %}
    <h1>Societe index</h1>
    <link rel="stylesheet" href="{{ asset('style.css') }}">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Patente</th>
                <th>Siege</th>
                <th>Tel</th>
                <th>Dabonnement</th>
                <th>Datedebut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for societe in societes %}
            <tr>
                <td>{{ societe.id }}</td>
                <td>{{ societe.nom }}</td>
                <td>{{ societe.patente }}</td>
                <td>{{ societe.siege }}</td>
                <td>{{ societe.tel }}</td>
                <td>{{ societe.dabonnement }}</td>
                <td>{{ societe.datedebut ? societe.datedebut|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_societe_show', {'id': societe.id}) }}">show</a>
                    <a href="{{ path('app_societe_edit', {'id': societe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_societe_new') }}">Create new</a>
{% endblock %}
