{% extends 'base.html.twig' %}

{% block title %}Societe{% endblock %}

{% block body %}
    <h1>Societe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ societe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ societe.nom }}</td>
            </tr>
            <tr>
                <th>Patente</th>
                <td>{{ societe.patente }}</td>
            </tr>
            <tr>
                <th>Siege</th>
                <td>{{ societe.siege }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ societe.tel }}</td>
            </tr>
            <tr>
                <th>Dabonnement</th>
                <td>{{ societe.dabonnement }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ societe.datedebut ? societe.datedebut|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_societe_index') }}">back to list</a>

    <a href="{{ path('app_societe_edit', {'id': societe.id}) }}">edit</a>

    {{ include('societe/_delete_form.html.twig') }}
{% endblock %}
